<nav  class="navbar navbar-inverse">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li class="active"  ><a>Home</a></li>

    </ul>
    <ul class="nav navbar-nav">
      <li class="active" > <a
        class="nav-link"
        [routerLink]="['/personas']">
        <i class="fa fa-home fa-fw">Personas</i></a></li>

    </ul>
    <ul class="nav navbar-nav">
      <li class="active"  ><a>Actividades</a></li>

    </ul>
    <ul class="nav navbar-nav">
      <li class="active" > <a
        class="nav-link"
        [routerLink]="['/videooperacional']">
        <i class="fa fa-home fa-fw">Video Operacional</i></a></li>

    </ul>
    <ul class="nav navbar-nav">
      <li class="active"  ><a>Video Tecnico</a></li>

    </ul>
    <ul class="nav navbar-nav">
      <li class="active"  ><a>CV</a></li>

    </ul>
    <ul class="nav navbar-nav">
      <li class="active" > <a
        class="nav-link"
        [routerLink]="['/getallfiles']">
        <i class="fa fa-home fa-fw">Ver Archivos</i></a></li>

    </ul>
    <ul class="nav navbar-nav">
      <li class="active"  ><a>Objetivos</a></li>

    </ul>
    <!--<ul class="nav navbar-nav">
      <li class="active"  > <a [routerLink]="['/actividades']" class="btn btn-link">Crear Actividad</a>
      </li>

    </ul>-->
    <ul class="nav navbar-nav navbar-right">

      <li><a href="#"><span class="glyphicon glyphicon-log-in" (click)="logOut()"></span> Salir</a></li>
    </ul>
  </div>
</nav>

  <br>
  <br>

  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="#" style="color:#fff">Buscar</a>
    <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0">
        <input name="valores" [(ngModel)]="valores" class="form-control mr-sm-2" type="text" placeholder="Buscar" aria-label="Search" >
        <button (click)="buscar()" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
<div class="row">
  <div class="card col-md-4 col-sm-4 col-lg-4"  *ngFor="let item of videos">
    <iframe class="card-img-top" width="320" height="180" [src]="item.id.videoId | url:'https://www.youtube.com/embed/'" frameborder="0" allowfullscreen></iframe>
    <div class="card-body">
      <h4 class="card-title">{{item.snippet.title}}</h4>
      <p class="card-text">{{item.snippet.description}}</p>
    </div>
  </div>
</div>