<!--En profile es donde cargamos el dasboard y preferiblemente 
podriamos mostrar unas graficas donde muestre el maximo de hora trabajadas-->
<nav  class="navbar navbar-inverse">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li class="active"  ><a>Home</a></li>

    </ul>

    <ul class="nav navbar-nav">
      <li class="active" > <a
        class="nav-link"
        [routerLink]="['/restaurante']">
        <i class="fa fa-home fa-fw">Registrar Restaurante</i></a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="active"  ><a>Registrar Persona</a></li>

    </ul>
    <ul class="nav navbar-nav">
      <li class="active" > <a
        class="nav-link"
        [routerLink]="['/restaurantes']">
        <i class="fa fa-home fa-fw">Listado de Restaurante</i></a></li>
    </ul>
   
    <ul class="nav navbar-nav">
      <li class="active" > <a
        class="nav-link"
        [routerLink]="['/personas']">
        <i class="fa fa-home fa-fw">Listado de Personas</i></a></li>
    </ul>
   
   
    <ul class="nav navbar-nav navbar-right">

      <li><a href="#"><span class="glyphicon glyphicon-log-in" (click)="logOut()"></span> Salir</a></li>
    </ul>
  </div>
</nav>

<div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#Id Persona</th>
      <th scope="col">Foto</th>
      <th scope="col">Nombres</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Cedula</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of arregloPersona; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        <img [src]="'https://www.semana.com/resizer/UA9LBWI4vPxAOesb3StAbkKF9sQ=/1200x675/filters:format(jpg):quality(50)//cloudfront-us-east-1.images.arcpublishing.com/semana/VNSQA6I7DJDVXD5LWSSL5PBXQI.jpg'" class="mr-2" style="width: 20px">
      </td>
      <td>{{item.nombres}}</td>
      <td>{{item.apellidos}}</td>
      <td>{{item.cedula}}</td>
    </tr>
    </tbody>
  </table>
</div>