<!--En profile es donde cargamos el dasboard y preferiblemente 
podriamos mostrar unas graficas donde muestre el maximo de hora trabajadas-->
<nav  class="navbar navbar-inverse">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li class="active"  ><a>Home</a></li>

    </ul>

    <ul class="nav navbar-nav">
      <li class="active" > <a
        class="nav-link"
        [routerLink]="['/restaurante']">
        <i class="fa fa-home fa-fw">Registrar Restaurante</i></a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="active"  ><a>Registrar Persona</a></li>

    </ul>
    <ul class="nav navbar-nav">
      <li class="active" > <a
        class="nav-link"
        [routerLink]="['/restaurantes']">
        <i class="fa fa-home fa-fw">Listado de Restaurante</i></a></li>
    </ul>
   
    <ul class="nav navbar-nav">
      <li class="active" > <a
        class="nav-link"
        [routerLink]="['/personas']">
        <i class="fa fa-home fa-fw">Listado de Personas</i></a></li>
    </ul>
   
   
    <ul class="nav navbar-nav navbar-right">

      <li><a href="#"><span class="glyphicon glyphicon-log-in" (click)="logOut()"></span> Salir</a></li>
    </ul>
  </div>
</nav>
 

  <div class="container">
    <p class="lead"> Bienvenido a tu Registro de Comensales
    </p>
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
        <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate >
          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Cedula</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Horas Por dia</th>
                <th scope="col">Dias Por Trabajar</th>
                <th scope="col">Comentarios</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="table-active" scope="row">{{currenPersona.cedula}}</th>
                <td class="table-active">{{currenPersona.nombres}}</td>
                <td class="table-active">{{currenPersona.apellidos}}</td>
                <td>{{currenPersona.horasPorDia}}</td>
                <td>{{currenPersona.diasTrabajados}}</td>
                <td>{{currenPersona.comentario}}</td>
              </tr>
            </tbody>
          </table>
    <br />
  </form>