<!--En profile es donde cargamos el dasboard y preferiblemente 
podriamos mostrar unas graficas donde muestre el maximo de hora trabajadas-->
<nav  class="navbar navbar-inverse">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li class="active"  ><a>Home</a></li>

    </ul>

    <ul class="nav navbar-nav">
      <li class="active" > <a
        class="nav-link"
        [routerLink]="['/restaurante']">
        <i class="fa fa-home fa-fw">Registrar Restaurante</i></a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="active"  ><a>Registrar Persona</a></li>

    </ul>
    <ul class="nav navbar-nav">
      <li class="active" > <a
        class="nav-link"
        [routerLink]="['/restaurantes']">
        <i class="fa fa-home fa-fw">Listado de Restaurante</i></a></li>
    </ul>
   
    <ul class="nav navbar-nav">
      <li class="active" > <a
        class="nav-link"
        [routerLink]="['/personas']">
        <i class="fa fa-home fa-fw">Listado de Personas</i></a></li>
    </ul>
   
   
    <ul class="nav navbar-nav navbar-right">

      <li><a href="#"><span class="glyphicon glyphicon-log-in" (click)="logOut()"></span> Salir</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="card card-container">

    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !id.valid }">
        <label for="id">ID</label>
        <input type="text" class="form-control" name="id" id="id" [(ngModel)]="registre.id" #fullName="ngModel" required />
        <div *ngIf="f.submitted && !id.valid" class="help-block">ID DEL RESTAURANTE</div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !rif.valid }">
        <label for="rif">Rif</label>
        <input type="text" class="form-control" name="rif" id="rif" [(ngModel)]="registre.rif" #rif="ngModel" required />
        <div *ngIf="f.submitted && !rif.valid" class="help-block">Rif es obligatorio</div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !razon_social.valid }">
        <label for="razon_social">Razon Social</label>
        <input type="text" class="form-control" name="razon_social" id="razon_social"  [(ngModel)]="registre.razon_social" #rason_social="ngModel" required />
        <div *ngIf="f.submitted && !razon_social.valid" class="help-block">

          <div *ngIf="razon_social.errors.required">
            Razon social es obligatorio.
          </div>
        </div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !ubicacion.valid }">
        <label for="ubicacion">Ubicacion</label>
        <input type="text" class="form-control" name="ubicacion" id="ubicacion"[(ngModel)]="registre.ubicacion" #ubicacion="ngModel" required  />
        <div *ngIf="f.submitted && !ubicacion.valid" class="help-block">

          <div *ngIf="ubicacion.errors.required">
            Ubicacion es obligatorio.
          </div>
         

        </div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !comentario.valid }">
        <label for="comentario">Comentario</label>
        <input type="text" class="form-control" name="comentario" id="comentario"[(ngModel)]="registre.comentario" #comentario="ngModel" required  />
        <div *ngIf="f.submitted && !comentario.valid" class="help-block">

          <div *ngIf="comentario.errors.required">
            comentario es obligatorio.
          </div>
        </div>
      </div>
    
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Registrar Restaurante</button>
      <button [routerLink]="['/login']" class="btn btn-lg btn-danger btn-block btn-cancel" type="button">Cancelar</button>

    </form><!-- /form -->

  </div><!-- /card-container -->
</div><!-- /container -->
